				@font-face {
					font-family: 'great_vibes';
					src: url('/La_Bouffe_De_Ouf/wp-content/uploads/useanyfont/2856Great_Vibes.woff2') format('woff2'),
						url('/La_Bouffe_De_Ouf/wp-content/uploads/useanyfont/2856Great_Vibes.woff') format('woff');
						  font-display: auto;
				}

				.great_vibes{font-family: 'great_vibes' !important;}

				.et_gf_great_vibes{background:none !important;font-family:great_vibes;text-indent:0 !important;font-size:25px;}

		